/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.pageContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

@keyframes gentle-float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-8px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes juicy-shake {

  0%,
  100% {
    transform: scale(1.1) rotate(2deg);
  }

  50% {
    transform: scale(1.1) rotate(-2deg);
  }
}

:root {
  --social-link-shadow-color: rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] {
  --social-link-shadow-color: rgba(255, 255, 255, 0.1);
}

.socialLink {
  display: inline-block;
  animation: gentle-float 2s ease-in-out infinite;
  filter: drop-shadow(0px 5px 15px var(--social-link-shadow-color));
}

.socialLink:first-of-type {
  animation-delay: 0s;
}

.socialLink:nth-of-type(2) {
  animation-delay: -1s;
}

.socialLink:hover {
  animation: juicy-shake 0.3s ease-in-out infinite;
}
